a {
	text-decoration: none;
	color: #5bc5f2;
}
body{
	margin: 0;
	padding: 0;
	background: url("../img/forest.jpg") no-repeat fixed right top;
	background-color: black; 
}
h1{
	margin: 0;
}
h2{}
p{
	margin: 0px;
}
.quote{
	font-style: italic;
}
#header {
	background-color: rgba(15,15,20,0.85);
	position: relative;
	z-index: 99;
	height: 60px;
}
#header-bottom-left{
	height: inherit;
}
#header-img{
	display: inline-block;
	position: relative;
	margin: 5px;
}
.tabmenu {
	display: inline-block;
	list-style-type: none;
	vertical-align: bottom;
	white-space: nowrap;
	font-family: Arial;
	font-size: 16px;
}
.tabmenu li {
	display: inline;
	font-style: none;
	font-weight: bold;
	margin: 0 3px;
}
#headshot {
	border-radius: 20px;
	float: right;
	margin: 0px 20px 20px 0px;
	float: left;
}
.content {
	width: 700px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	margin-top: 25px;
	margin-bottom: 50px;
	background-color: rgba(15,15,20,0.85);
}
.text {
	margin-left: 250px;
	font-family: Arial;
	font-size: 16px;
	margin: 0;
	position: relative;
	color: #5bc5f2;
}
.side {
	padding: 10px;
	position: relative;
	float: left;
}


h2{
	margin: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.content #socia-about{
	text-align: center;
}
#social-desc{
	float: right;
	width: 70%;
	text-align: left;
	display: inline-block;
	padding: 8px;
}

.content li{
    display: inline-block;
    padding: 0 10px;
    font-size: 1.5em;
}
ul.icons-social{
	padding-left: 0px;
}


#footer{
	text-align: center;
	margin: 0;
	font-size: 14px;
	background-color: black;
}
#social{
	margin: 0px;
}
#footer li{
	display: inline-block;
	padding: 0 10px;
	font-size: 1em;
}
#footer p{
	margin: 0;
}



/* Used for scrolling */
#bg-scroll{
	background: url("../img/forest.jpg") 50% 0 repeat fixed;
	min-height: 1080px;
	height: 5000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}
#bg-scroll#header{
	position: absolute;
	width: 100%;
}
$bgobj.css({ 
	backgroundPosition: coords,
	'-webkit-background-size': 'cover',
	'-moz-background-size': 'cover',
	'-o-background-size': 'cover',
	'background-size': 'cover'
			 })